@font-face {
    font-family: Roboto Black;
    src: url(../libs/fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: digital-7;
    src: url(../libs/fonts/digital-7.ttf);
}

.hidden {
    display: none;
}

.mainHub{
    max-width: 500px;
    font-family: Roboto Black, sans-serif;
    background-color: rgba(10, 36, 71, 0.8);
    white-space: nowrap;
    user-select: none;
    overflow: hidden;
    animation: fadein 1s;
}

.btn{
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
    display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.drag{
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.gear{
    font-size: 95px;
    font-family: digital-7, sans-serif;
    line-height: 70px;
}

.speed{
    font-size: 32px;
}

.RPM{
    font-size: 26px;
}

.lapTimeRival,.rivalPosition,.lastLap,.delta,.lapTime,.position{
    font-size: 20px;
}

.smallPosition,.driverGap,.deltaText,.smallLapTimeRival,.smallRivalPosition,.weather,.bottomRow,.driverName{
    font-size: 19px;
}

.BB,.ABS,.TC,.currentTime,.bottomRowText,.battery,.icons{
    font-size: 15px;
}

.batteryPercentage{
    position: relative;
    z-index: 10;
}

.revLed{
    height: .70rem;
    width: 1.9rem;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}

.revLedUp{
    transform: rotate(180deg);
}

.pedals{
    width: 7px;
}

.bestTime{
    color: #e008e0;
}

.blinkingFuel {
    animation: 1.2s blink ease infinite;
}

.revLimiter{
    animation: .6s blink step-start infinite;
}

.flashing {
    animation: .3s blink step-start infinite;
}

#notification{
    position: fixed;
    top: 15px;
    z-index: 10;
    -webkit-app-region: no-drag;
    font-size: 15px;
    background-color: rgb(10, 36, 71);
    padding: 0;
}

@-webkit-keyframes blink{
    from, to {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}
