@font-face {
    font-family: Spantaran Regular;
    font-style: normal;
    font-weight: normal;
    src: local('Spantaran Regular'), url('../libs/fonts/Spantaran.woff') format('woff');
}

.hidden {
    display: none;
}

.drag{
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.mainHub{
    max-width: 500px;
    font-family: Spantaran Regular, sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    white-space: nowrap;
    user-select: none;
    overflow: hidden;
    animation: fadein 1s;
}

.gear{
    font-size: 70px;
    line-height: 40px;
}

.speed{
    font-size: 32px;
}

.RPM{
    font-size: 26px;
}

.currentLapTime,.lastLap,.delta,.lapTime,.position,.smallPosition,.deltaText,.smallLapTimeRival,.weather,.bottomRow{
    font-size: 19px;
    line-height: 22px;
}

.smallRivalPosition,.driverGap{
    font-size: 17px;
    line-height: 22px;
}

.driverName{
    font-size: 15px;
    line-height: 22px;
}

.BB,.ABS,.TC,.currentTime,.bottomRowText,.battery,.icons{
    font-size: 15px;
}

.car-settings{
    font-size: 12px;
    line-height: 24px
}

.batteryPercentage{
    position: relative;
    z-index: 10;
}

.batteryBar{
    position: absolute;
    height: 24px;
}

.pedals{
    width: 7px;
}

.bestTime{
    color: #e008e0;
}

.rocket{
    --fa-secondary-color: orange;
}

.fa-thermometer-empty{
    --fa-primary-color: #0dcaf0;
}

.fa-thermometer-half{
    --fa-primary-color: #ffc107;
}

.fa-thermometer-full{
    --fa-primary-color: #dc3545;
}

.blinkingFuel {
    animation: 1.2s blink ease infinite;
}

#notification{
    position: fixed;
    top: 15px;
    z-index: 20;
    -webkit-app-region: no-drag;
    font-size: 15px;
    background-color: rgb(37, 37, 37);
    padding: 0;
}

@-webkit-keyframes blink{
    from, to {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
