<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel='icon' href='libs/images/app.ico' type='image/x-icon' >
	<title>Laptics Dash</title>

	<!-- CSS only -->
	<link rel="stylesheet" href="libs/css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/2.3.2/moment-duration-format.min.js"></script>
	<script src="https://kit.fontawesome.com/ddde85d45b.js" crossorigin="anonymous"></script>

	<!-- angular -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
	<script src="js/ir.js"></script>
</head>

<body ng-controller="MainCtrl" style="background-color: transparent;" ng-class="{'bg-secondary' : !isElectron && ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'test'}">

<br ng-if="!isElectron && ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'test'">

<div class="container mainHub text-light rounded overflow-hidden drag">

	<div id="notification" class="alert border border-3 hidden">
		<div class="row">
			<div class="col-sm-10">
				<p id="message" class="m-1"></p>
			</div>
			<div class="col-sm-2">
				<button type="button" class="btn btn-sm text-secondary" data-bs-dismiss="alert"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>

	<div class="row" style="min-height: 24px">
		<div class="col-sm-3 ">
			<div class="row">
				<div class="col-sm-8">
					<span ng-if="ir.dcBrakeBias > 0" class="BB" ng-bind="ir.dcBrakeBias | number:1"></span>
					<span ng-if="ir.dcABS > 0" class="ABS text-danger" ng-bind="ir.dcABS"></span>
					<span ng-if="ir.dcTractionControl > 0" class="TC text-success" ng-bind="ir.dcTractionControl"></span>
				</div>

				<div class="col-sm-4 d-flex justify-content-center align-items-end p-0">
					<span class="pedals bg-primary" ng-style="{'height': Clutch * 24 + 'px'}"></span>
					<span class="pedals bg-danger" ng-style="{'height': ir.Brake * 24 + 'px'}"></span>
					<span class="pedals bg-success" ng-style="{'height': ir.Throttle * 24 + 'px'}"></span>
				</div>
			</div>
		</div>

		<div class="col-sm-6 d-flex justify-content-evenly align-content-center flex-wrap p-0" ng-if="ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'audir18'|| ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'test'">
			<span class="revLed bg-secondary" ng-class="{revLimiter: ir.RPM > 4600, 'bg-success': ir.RPM > 3800}"></span>
			<span class="revLed revLedUp bg-secondary" ng-class="{revLimiter: ir.RPM > 4600, 'bg-success': ir.RPM > 3925}"></span>
			<span class="revLed bg-secondary" ng-class="{revLimiter: ir.RPM > 4600, 'bg-success': ir.RPM > 4050}"></span>
			<span class="revLed revLedUp bg-secondary" ng-class="{revLimiter: ir.RPM > 4600, 'bg-success': ir.RPM > 4175}"></span>
			<span class="revLed bg-secondary" ng-class="{revLimiter: ir.RPM > 4600, 'bg-warning': ir.RPM > 4300}"></span>
			<span class="revLed revLedUp bg-secondary" ng-class="{revLimiter: ir.RPM > 4600, 'bg-warning': ir.RPM > 4400}"></span>
			<span class="revLed bg-secondary" ng-class="{revLimiter: ir.RPM > 4600, 'bg-danger': ir.RPM > 4500}"></span>
			<span class="revLed revLedUp bg-secondary" ng-class="{revLimiter: ir.RPM > 4600, 'bg-danger': ir.RPM > 4550}"></span>
		</div>

		<div class="col-sm-6 d-flex justify-content-evenly align-content-center flex-wrap p-0" ng-if="ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath !== 'audir18' && ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath !== 'test'">
			<span class="revLed bg-secondary" ng-class="{revLimiter: ir.ShiftIndicatorPct > 0.85, 'bg-success': ir.ShiftIndicatorPct > 0.1}"></span>
			<span class="revLed revLedUp bg-secondary" ng-class="{revLimiter: ir.ShiftIndicatorPct > 0.85, 'bg-success': ir.ShiftIndicatorPct > 0.2}"></span>
			<span class="revLed bg-secondary" ng-class="{revLimiter: ir.ShiftIndicatorPct > 0.85, 'bg-success': ir.ShiftIndicatorPct > 0.3}"></span>
			<span class="revLed revLedUp bg-secondary" ng-class="{revLimiter: ir.ShiftIndicatorPct > 0.85, 'bg-success': ir.ShiftIndicatorPct > 0.4}"></span>
			<span class="revLed bg-secondary" ng-class="{revLimiter: ir.ShiftIndicatorPct > 0.85, 'bg-warning': ir.ShiftIndicatorPct > 0.5}"></span>
			<span class="revLed revLedUp bg-secondary" ng-class="{revLimiter: ir.ShiftIndicatorPct > 0.85, 'bg-warning': ir.ShiftIndicatorPct > 0.6}"></span>
			<span class="revLed bg-secondary" ng-class="{revLimiter: ir.ShiftIndicatorPct > 0.85, 'bg-danger': ir.ShiftIndicatorPct > 0.7}"></span>
			<span class="revLed revLedUp bg-secondary" ng-class="{revLimiter: ir.ShiftIndicatorPct > 0.85, 'bg-danger': ir.ShiftIndicatorPct > 0.8}"></span>
		</div>

		<div ng-if="!isElectron" class="col-sm-3 text-end">
			<span class="currentTime">{{CurrentTime | date:'HH:mm:ss'}}</span>
		</div>

		<div ng-if="isElectron" class="col-sm-3">
			<div class="row">
				<div class="col-sm-7 align-self-center">
					<span class="currentTime">{{CurrentTime | date:'HH:mm:ss'}}</span>
				</div>
				<div class="col-sm-5 d-flex justify-content-evenly" style="max-height: 24px;">
					<button type="button" class="btn btn-sm text-secondary p-0" id="min-button"><i class="fas fa-minus fa-fw icons"></i></button>
					<button type="button" class="btn btn-sm text-secondary p-0" id="close-button"><i class="fas fa-times fa-fw icons"></i></button>
				</div>
			</div>
		</div>
	</div>

	<div class="row" ng-if="ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'audir18'|| ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'porsche919' || ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'test'">
		<div class="col col-sm-5 border-top border-end border-3 p-0">

			<div class="" ng-style="{ 'width': ir.EnergyERSBatteryPct * 205.3 + 'px'}" ng-class="{'progress-bar-striped progress-bar-animated' : HysBoostHold, 'progress-bar-striped progress-bar-animated' : ir.Brake >= .10 && ir.Brake != 1, 'bg-success' : ir.EnergyERSBatteryPct >= .25, 'bg-warning' : ir.EnergyERSBatteryPct <= .25, 'bg-danger' : ir.EnergyERSBatteryPct <= .10}" style="position: absolute; color: transparent;">-</div>

			<div class="row">
				<div class="col col-sm-6">
					<i ng-if="ir.EnergyERSBatteryPct <= .0099" class="fas fa-battery-empty batteryPercentage ps-2"></i>
					<i ng-if="ir.EnergyERSBatteryPct >= .01 && ir.EnergyERSBatteryPct <= .3332" class="fas fa-battery-quarter batteryPercentage ps-2"></i>
					<i ng-if="ir.EnergyERSBatteryPct >= .3333 && ir.EnergyERSBatteryPct <= .6665" class="fas fa-battery-half batteryPercentage ps-2"></i>
					<i ng-if="ir.EnergyERSBatteryPct >= .6666 && ir.EnergyERSBatteryPct <= .9899" class="fas fa-battery-three-quarters batteryPercentage ps-2"></i>
					<i ng-if="ir.EnergyERSBatteryPct >= .99" class="fas fa-battery-full batteryPercentage ps-2"></i>
				</div>
				<div class="col col-sm-6 text-end">
					<span class="batteryPercentage pe-2" ng-bind="ir.EnergyERSBatteryPct * 100 | number:2" ></span>
				</div>
			</div>

		</div>

		<div class="col-sm-2 border-top border-3 p-1 ps-3 pe-3">
			<i class="fas fa-bolt text-secondary" style="float: left" ng-class="{flashing : HeadlightFlash, 'text-white' : HeadlightFlash}"></i>

			<i ng-if="ir.EnergyERSBatteryPct <= .0099" class="fas fa-battery-empty text-secondary" style="float: right" ng-class="{'text-white' : HysBoostHold}"></i>
			<i ng-if="ir.EnergyERSBatteryPct >= .01 && ir.EnergyERSBatteryPct <= .3332" class="fas fa-battery-quarter text-secondary" style="float: right" ng-class="{'text-white' : HysBoostHold}"></i>
			<i ng-if="ir.EnergyERSBatteryPct >= .3333 && ir.EnergyERSBatteryPct <= .6665" class="fas fa-battery-half text-secondary" style="float: right" ng-class="{'text-white' : HysBoostHold}"></i>
			<i ng-if="ir.EnergyERSBatteryPct >= .6666 && ir.EnergyERSBatteryPct <= .9899" class="fas fa-battery-three-quarters text-secondary" style="float: right" ng-class="{'text-white' : HysBoostHold}"></i>
			<i ng-if="ir.EnergyERSBatteryPct >= .99" class="fas fa-battery-full text-secondary" style="float: right" ng-class="{'text-white' : HysBoostHold}"></i>
		</div>

		<div class="col col-sm-5 border-bottom border-end border-3 p-0" style="transform: rotate(180deg);">

			<div ng-style="{ 'width': ir.EnergyMGU_KLapDeployPct * 205.3 + 'px'}" ng-class="{'progress-bar-striped progress-bar-animated' : HysBoostHold, 'bg-primary' : ir.EnergyMGU_KLapDeployPct <= .50, 'bg-warning' : ir.EnergyMGU_KLapDeployPct >= .50 && ir.EnergyMGU_KLapDeployPct <= 1, 'bg-danger' : ir.EnergyMGU_KLapDeployPct == 1}" style="position: absolute; color: transparent;">-</div>

			<div class="row" style="transform: rotate(-180deg);">
				<div class="col col-sm-6">
					<span class="batteryPercentage ps-2" ng-bind="ir.EnergyMGU_KLapDeployPct * 100 | number:2" ></span>
				</div>
				<div class="col col-sm-6 text-end">
					<i class="fas fa-caret-left batteryPercentage pe-2"></i>
				</div>
			</div>

		</div>
	</div>

	<div class="row" style="min-height: 63px">
		<div class="col-sm-5 border-top border-end border-3">
			<div class="row">
				<div class="col-sm-4">
					<span class="rivalPosition text-secondary" ng-if="driverAheadPos > 0 && driverAheadName" ng-bind=" 'P' + driverAheadPos" ></span>
					<span class="rivalPosition text-secondary" ng-if="driverAheadPos == 0" >P-</span>
				</div>
				<div class="col-sm-8 text-end">
					<span class="lapTimeRival" ng-bind="driverAheadLapTime"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<span class="smallRivalPosition text-secondary" ng-style="{color: driverAheadCarClassColor}" ng-if="driverAheadClassPos > 0" ng-bind=" 'P' + driverAheadClassPos" ></span>
					<span class="smallRivalPosition text-secondary" ng-if="driverAheadClassPos == 0" >P-</span>
				</div>
				<div class="col-sm-8 text-end">
					<span class="driverGap text-danger" ng-if="driverAheadLapTimeGap > 0" ng-bind="driverAheadLapTimeGap | plusOrMinus"></span>
					<span class="driverGap text-success" ng-if="driverAheadLapTimeGap < 0" ng-bind="driverAheadLapTimeGap | plusOrMinus"></span>
				</div>
			</div>
		</div>

		<div class="col-sm-2 p-0" >
			<div class="RPM text-center pt-2" ng-if="ir.WeekendInfo" ng-bind="ir.RPM | customNumber"></div>
		</div>

		<div class="col-sm-5 border-top border-start border-3">
			<div class="row text-end">
				<span class="driverName" ng-bind="driverAheadName"></span>

				<span class="driverGap text-danger" ng-if="driverAheadLiveGap > 0" ng-bind="driverAheadLiveGap | plusOrMinus"></span>
				<span class="driverGap text-success" ng-if="driverAheadLiveGap < 0" ng-bind="driverAheadLiveGap | plusOrMinus"></span>
				<span class="driverGap" ng-if="driverAheadLiveGap == 0">--,--</span>
				<span class="driverGap" ng-if="driverAheadLiveGap.includes('L')" ng-bind="driverAheadLiveGap"></span>
			</div>
		</div>
	</div>

	<div class="row" style="min-height: 70px">
		<div class="col-sm-5 border-top border-bottom border-end border-3">

			<div class="row">
				<div class="col-sm-3">
					<span class="position" ng-if="ir.PlayerCarPosition > 0" ng-bind=" 'P' + ir.PlayerCarPosition" ></span>
					<span class="position" ng-if="ir.PlayerCarPosition == 0" >P-</span>
				</div>
				<div class="col-sm-3 text-end align-self-center">
					<span class="deltaText text-secondary" ng-if="ir.WeekendInfo">Best</span>
				</div>
				<div class="col-sm-6 text-end">
					<span class="delta" ng-if="ir.LapDeltaToSessionBestLap == 0">--,--</span>

					<span class="delta text-success" ng-if="ir.LapDeltaToSessionBestLap < 0" ng-bind="ir.LapDeltaToSessionBestLap | number:2 | plusOrMinus"></span>
					<span class="delta text-danger" ng-if="ir.LapDeltaToSessionBestLap > 0" ng-bind="ir.LapDeltaToSessionBestLap | number:2 | plusOrMinus"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 align-self-center">
					<span class="smallPosition" ng-style="{color: driverCarClassColor}" ng-if="ir.PlayerCarClassPosition > 0" ng-bind=" 'P' + ir.PlayerCarClassPosition" ></span>
					<span class="smallPosition" ng-if="ir.PlayerCarClassPosition == 0" >P-</span>
				</div>
				<div class="col-sm-3 text-end align-self-center">
					<span class="deltaText text-secondary" ng-if="ir.WeekendInfo">Last</span>
				</div>
				<div class="col-sm-6 text-end">
					<span class="delta" ng-if="ir.LapDeltaToSessionLastlLap == 0 && ir.LapDeltaToSessionOptimalLap == 0">--,--</span>

					<span class="delta text-success " ng-if="ir.LapDeltaToSessionLastlLap == 0 && ir.LapDeltaToSessionOptimalLap < 0" ng-bind="ir.LapDeltaToSessionOptimalLap | number:2 | plusOrMinus"></span>
					<span class="delta text-danger" ng-if="ir.LapDeltaToSessionLastlLap == 0 && ir.LapDeltaToSessionOptimalLap > 0" ng-bind="ir.LapDeltaToSessionOptimalLap | number:2 | plusOrMinus"></span>

					<span class="delta text-success" ng-if="ir.LapDeltaToSessionLastlLap < 0" ng-bind="ir.LapDeltaToSessionLastlLap | number:2 | plusOrMinus"></span>
					<span class="delta text-danger" ng-if="ir.LapDeltaToSessionLastlLap > 0" ng-bind="ir.LapDeltaToSessionLastlLap | number:2 | plusOrMinus"></span>
				</div>
			</div>

		</div>

		<div class="col-sm-2">
			<div class="gear text-center" ng-if="ir.Gear == -1">R</div>
			<div class="gear text-center" ng-if="ir.Gear == 0">N</div>
			<div class="gear text-center" ng-bind="ir.Gear" ng-if="ir.Gear > 0"></div>
		</div>

		<div class="col-sm-5 border-top border-bottom border-start border-3">
			<div class="row" >
				<div class="col-sm-7">
					<span ng-if="ir.LapBestLapTime > 10" class="lapTime bestTime" ng-bind="ir.LapBestLapTime | toMinSec"></span>
				</div>
				<div class="col-sm-5 text-end align-self-center" ng-if="ir.AirTemp">
					<i class="fas fa-fw" ng-class="{'fa-thermometer-empty' : ir.AirTemp < 20, 'fa-thermometer-half' : ir.AirTemp > 20 && ir.AirTemp < 40, 'fa-thermometer-full' : ir.AirTemp > 40}"></i>
					<span class="weather">{{ir.AirTemp | number:1}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<span ng-if="ir.LapLastLapTime > 10" class="lastLap" ng-bind="ir.LapLastLapTime | toMinSec"></span>
				</div>
				<div class="col-sm-5 text-end align-self-center" ng-if="ir.TrackTemp">
					<i class="fas fa-road fa-fw"></i>
					<span class="weather">{{ir.TrackTemp | number:1}}</span>
				</div>
			</div>

		</div>
	</div>

	<div class="row" style="min-height: 63px">
		<div class="col-sm-5 border-bottom border-end border-3">
			<div class="row">
				<div class="col-sm-4">
					<span class="rivalPosition text-secondary" ng-if="driverBehindPos > 0 && driverBehindName" ng-bind=" 'P' + driverBehindPos" ></span>
					<span class="rivalPosition text-secondary" ng-if="driverBehindPos == 0" >P-</span>
				</div>
				<div class="col-sm-8 text-end">
					<span class="lapTimeRival" ng-bind="driverBehindLapTime"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<span class="smallRivalPosition text-secondary" ng-style="{color: driverBehindCarClassColor}" ng-if="driverBehindClassPos > 0" ng-bind=" 'P' + driverBehindClassPos" ></span>
					<span class="smallRivalPosition text-secondary" ng-if="driverBehindClassPos == 0" >P-</span>
				</div>
				<div class="col-sm-8 text-end">
					<span class="driverGap text-success" ng-if="driverBehindLapTimeGap < 0" ng-bind="driverBehindLapTimeGap | plusOrMinus"></span>
					<span class="driverGap text-danger" ng-if="driverBehindLapTimeGap > 0" ng-bind="driverBehindLapTimeGap | plusOrMinus"></span>
				</div>
			</div>
		</div>

		<div class="col-sm-2 border-bottom border-3 p-0">
			<div class="speed text-center pt-2" ng-bind="ir.Speed * 3.6 | number:0 "></div>
		</div>

		<div class="col-sm-5 border-bottom border-start border-3">
			<div class="row text-end">
				<span class="driverName" ng-bind="driverBehindName"></span>

				<span class="driverGap text-success" ng-if="driverBehindLiveGap < 0" ng-bind="driverBehindLiveGap | plusOrMinus"></span>
				<span class="driverGap text-danger" ng-if="driverBehindLiveGap > 0" ng-bind="driverBehindLiveGap | plusOrMinus"></span>
				<span class="driverGap" ng-if="driverBehindLiveGap == 0">--,--</span>
				<span class="driverGap" ng-if="driverBehindLiveGap.includes('L')" ng-bind="driverBehindLiveGap"></span>
			</div>
		</div>
	</div>

	<div class="row" style="min-height: 24px">
		<div class="col-sm-5 border-end border-3" style="border-color: transparent !important;">
			<div class="row bottomRowText" ng-if="ir.WeekendInfo">
				<div class="col-sm-6">
					<span class="text-secondary">Lap:</span>
					<span ng-if="ir.SessionLapsRemain > 1000 || ir.SessionLapsRemain == 'unlimited'" ng-bind="ir.Lap"></span>
					<span ng-if="ir.SessionLapsRemain < 1000 && ir.SessionLapsRemain != 'unlimited'" ng-bind="ir.Lap + '/' + SessionLaps"></span>
				</div>

				<div class="col-sm-6 text-end">
					<span class="text-secondary">Pit lap:</span>
					<span ng-if="lastPitStop > 0" ng-bind="lastPitStop"></span>
					<span ng-if="!lastPitStop || lastPitStop == 0">-</span>
				</div>
			</div>
		</div>

		<div class="col-sm-2 text-center">
			<div class="row bottomRowText" ng-if="ir.WeekendInfo">
				<span ng-if="ir.SessionTimeRemain < 600000" ng-bind="ir.SessionTimeRemain | secondsToDateTime"></span>
				<span ng-if="ir.SessionTimeRemain > 600000">--,--</span>
			</div>
		</div>

		<div class="col-sm-5 border-start border-3" style="border-color: transparent !important;">
			<div class="row bottomRowText" ng-if="ir.WeekendInfo">
				<div class="col-sm-6">
					<span class="text-secondary">Inc:</span>
					<span ng-if="ir.WeekendInfo.WeekendOptions.IncidentLimit == 'unlimited'" ng-bind="ir.PlayerCarTeamIncidentCount"></span>
					<span ng-if="ir.WeekendInfo.WeekendOptions.IncidentLimit != 'unlimited'" ng-bind="ir.PlayerCarTeamIncidentCount + '/' + ir.WeekendInfo.WeekendOptions.IncidentLimit"></span>
				</div>
				<div class="col-sm-6 text-end">
					<span class="text-secondary">Fuel:</span>
					<span class="text-light" ng-if="ir.FuelLevel > 10" ng-bind="ir.FuelLevel | number:2"></span>
					<span class="text-warning" ng-if="ir.FuelLevel > 5 && ir.FuelLevel <= 10" ng-bind="ir.FuelLevel | number:2"></span>
					<span class="text-danger" ng-if="ir.FuelLevel > 2 && ir.FuelLevel <= 5" ng-bind="ir.FuelLevel | number:2"></span>
					<span class="text-danger pitLimiterFuel" ng-if="ir.FuelLevel > 0 && ir.FuelLevel <= 2" ng-bind="ir.FuelLevel | number:2"></span>
				</div>
			</div>
		</div>
	</div>

</div>

</body>

<script src="js/app.js"></script>
<script src="../renderer.js"></script>

</html>
