<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel='icon' href='libs/images/app.ico' type='image/x-icon' >
	<title>Laptics Dash</title>

	<!-- CSS only -->
	<link rel="stylesheet" href="libs/css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/2.3.2/moment-duration-format.min.js"></script>
	<script src="https://kit.fontawesome.com/0d2e2c562b.js" crossorigin="anonymous"></script>

	<!-- angular -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
	<script src="js/ir.js"></script>
</head>

<body ng-controller="MainCtrl" style="background-color: transparent;" ng-class="{'bg-dark' : !isElectron && ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'test'}">

<br ng-if="!isElectron && ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'test'">

<div class="container mainHub text-light rounded drag" ng-if="ir.IsOnTrack">

	<div style="position:absolute; top: 57px; right: 745px;">

	</div>

	<div id="notification" class="alert border border-3 hidden">
		<div class="row">
			<div class="col-sm-10">
				<p id="message" class="m-1"></p>
			</div>
			<div class="col-sm-2">
				<button type="button" class="btn btn-sm text-secondary" data-bs-dismiss="alert"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>

	<div class="row" style="min-height: 24px;">
		<div class="col-sm-2">
			<div class="row">
				<div class="col-sm-11">
					<span class="currentTime">{{CurrentTime | date:'HH:mm:ss'}}</span>
				</div>
				<div class="col-sm-1 p-0">
					<i ng-if="ir.SessionFlags == '0x00000001'" class="fas fa-flag-checkered fa-xs"></i>
					<i ng-if="ir.SessionFlags == '0x00000002'" class="fad fa-flag fa-xs" style="--fa-secondary-opacity: 1; --fa-secondary-color: #ffffff"></i>
					<i ng-if="ir.SessionFlags == '0x00000004' || ir.SessionFlags == '0x00000400' || ir.SessionFlags == '0x00000200'" class="fad fa-flag fa-fw fa-xs" style="--fa-secondary-opacity: 1; --fa-secondary-color: #198754"></i>
					<i ng-if="ir.SessionFlags == '0x00000008' || ir.SessionFlags == '0x00000100' || ir.SessionFlags == '0x00004000' || ir.SessionFlags == '0x00008000'" class="fad fa-flag fa-xs" style="--fa-secondary-opacity: 1; --fa-secondary-color: #ffc107"></i>
					<i ng-if="ir.SessionFlags == '0x00000010'" class="fad fa-flag fa-xs" style="--fa-secondary-opacity: 1; --fa-secondary-color: #dc3545"></i>
					<i ng-if="ir.SessionFlags == '0x00000020'" class="fad fa-flag fa-xs" style="--fa-secondary-opacity: 1; --fa-secondary-color: #0d6efd"></i>
					<i ng-if="ir.SessionFlags == '0x00010000' || ir.SessionFlags == '0x00020000'" class="fad fa-flag fa-xs" style="--fa-secondary-opacity: 1; --fa-secondary-color: #000000"></i>
				</div>
			</div>
		</div>

		<div class="col-sm-8 d-flex justify-content-center align-content-center flex-wrap p-0 pt-3" ng-if="ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'audir18'|| ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'test'">
			<span class="fak fa-2xl fa-revled-down text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.RPM > 4600 || ir.dcPitSpeedLimiterToggle, 'text-success': ir.RPM > 3800 || ir.dcPitSpeedLimiterToggle}"></span>
			<span class="fak fa-2xl fa-revled-up text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.RPM > 4600 || ir.dcPitSpeedLimiterToggle, 'text-success': ir.RPM > 3925 || ir.dcPitSpeedLimiterToggle}"></span>
			<span class="fak fa-2xl fa-revled-down text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.RPM > 4600 || ir.dcPitSpeedLimiterToggle, 'text-success': ir.RPM > 4050 || ir.dcPitSpeedLimiterToggle}"></span>
			<span class="fak fa-2xl fa-revled-up text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.RPM > 4600 || ir.dcPitSpeedLimiterToggle, 'text-success': ir.RPM > 4175 || ir.dcPitSpeedLimiterToggle}"></span>
			<span class="fak fa-2xl fa-revled-down text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.RPM > 4600 || ir.dcPitSpeedLimiterToggle, 'text-warning': ir.RPM > 4300 || ir.dcPitSpeedLimiterToggle}"></span>
			<span class="fak fa-2xl fa-revled-up text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.RPM > 4600 || ir.dcPitSpeedLimiterToggle, 'text-warning': ir.RPM > 4400 || ir.dcPitSpeedLimiterToggle}"></span>
			<span class="fak fa-2xl fa-revled-down text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.RPM > 4600 || ir.dcPitSpeedLimiterToggle, 'text-danger': ir.RPM > 4500 || ir.dcPitSpeedLimiterToggle}"></span>
			<span class="fak fa-2xl fa-revled-up text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.RPM > 4600 || ir.dcPitSpeedLimiterToggle, 'text-danger': ir.RPM > 4550 || ir.dcPitSpeedLimiterToggle}"></span>
		</div>

		<div class="col-sm-8 d-flex justify-content-center align-content-center flex-wrap p-0 pt-3" ng-if="ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath !== 'audir18' && ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath !== 'test'">
			<span class="fak fa-2xl fa-revled-down text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.ShiftIndicatorPct > 0.85 || ir.dcPitSpeedLimiterToggle, 'text-success': ir.ShiftIndicatorPct > 0.1 || ir.dcPitSpeedLimiterToggle}"></span>
			<span class="fak fa-2xl fa-revled-up text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.ShiftIndicatorPct > 0.85 || ir.dcPitSpeedLimiterToggle, 'text-success': ir.ShiftIndicatorPct > 0.2 || ir.dcPitSpeedLimiterToggle}"></span>
			<span class="fak fa-2xl fa-revled-down text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.ShiftIndicatorPct > 0.85 || ir.dcPitSpeedLimiterToggle, 'text-success': ir.ShiftIndicatorPct > 0.3 || ir.dcPitSpeedLimiterToggle}"></span>
			<span class="fak fa-2xl fa-revled-up text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.ShiftIndicatorPct > 0.85 || ir.dcPitSpeedLimiterToggle, 'text-success': ir.ShiftIndicatorPct > 0.4 || ir.dcPitSpeedLimiterToggle}"></span>
			<span class="fak fa-2xl fa-revled-down text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.ShiftIndicatorPct > 0.85 || ir.dcPitSpeedLimiterToggle, 'text-warning': ir.ShiftIndicatorPct > 0.5 || ir.dcPitSpeedLimiterToggle}"></span>
			<span class="fak fa-2xl fa-revled-up text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.ShiftIndicatorPct > 0.85 || ir.dcPitSpeedLimiterToggle, 'text-warning': ir.ShiftIndicatorPct > 0.6 || ir.dcPitSpeedLimiterToggle}"></span>
			<span class="fak fa-2xl fa-revled-down text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.ShiftIndicatorPct > 0.85 || ir.dcPitSpeedLimiterToggle, 'text-danger': ir.ShiftIndicatorPct > 0.7 || ir.dcPitSpeedLimiterToggle}"></span>
			<span class="fak fa-2xl fa-revled-up text-secondary" style="--fa-animation-duration: 0.5s;" ng-class="{'fa-beat-fade': ir.ShiftIndicatorPct > 0.85 || ir.dcPitSpeedLimiterToggle, 'text-danger': ir.ShiftIndicatorPct > 0.8 || ir.dcPitSpeedLimiterToggle}"></span>
		</div>

		<div ng-if="!isElectron" class="col-sm-2">
			<div class="col-sm-12 d-flex justify-content-center align-items-end p-0" style="height: 24px">
				<span class="pedals bg-primary" ng-style="{'height': Clutch * 24 + 'px'}"></span>
				<span class="pedals bg-danger" ng-style="{'height': ir.Brake * 24 + 'px'}"></span>
				<span class="pedals bg-success" ng-style="{'height': ir.Throttle * 24 + 'px'}"></span>
			</div>
		</div>

		<div ng-if="isElectron" class="col-sm-2">
			<div class="row">
				<div class="col-sm-3 d-flex justify-content-center align-items-end p-0" style="height: 24px">
					<span class="pedals bg-primary" ng-style="{'height': Clutch * 24 + 'px'}"></span>
					<span class="pedals bg-danger" ng-style="{'height': ir.Brake * 24 + 'px'}"></span>
					<span class="pedals bg-success" ng-style="{'height': ir.Throttle * 24 + 'px'}"></span>
				</div>
				<div class="col-sm-9 d-flex justify-content-evenly" style="max-height: 24px;">
					<button type="button" class="btn btn-sm text-secondary p-0" id="min-button"><i class="fa-solid fa-square-minus fa-fw"></i></button>
					<button type="button" class="btn btn-sm text-secondary p-0" id="close-button"><i class="fa-solid fa-square-xmark fa-fw"></i></button>
				</div>
			</div>
		</div>
	</div>

	<div class="row" ng-if="ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'audir18'|| ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'porsche919' || ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'bmwlmdh' || ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'cadillacvseriesrgtp' || ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath === 'test'">
		<div class="col col-sm-5 border-top border-end border-secondary border-3 p-0">

			<span class="batteryBar" ng-style="{ 'width': ir.EnergyERSBatteryPct * 205.3 + 'px'}" ng-class="{'rounded-end' : ir.EnergyERSBatteryPct < .99999,'progress-bar-striped progress-bar-animated' : HysBoostHold || ir.EnergyERSBatteryPct != 1 && ir.Brake <= .80 && ir.Brake >= .05, 'bg-success' : ir.EnergyERSBatteryPct >= .20, 'bg-warning' : ir.EnergyERSBatteryPct <= .20, 'bg-danger' : ir.EnergyERSBatteryPct <= .10}"></span>

			<div class="row">
				<div class="col col-sm-6">
					<i class="fas fa-car-battery batteryPercentage ps-2"></i>
				</div>
				<div class="col col-sm-6 text-end">
					<span class="batteryPercentage" ng-bind="ir.EnergyERSBatteryPct * 100 | number:2" ></span>
					<i class="fa-solid fa-percent fa-xs fa-fw pe-2 batteryPercentage"></i>
				</div>
			</div>

		</div>

		<div class="col-sm-2 d-flex align-items-center justify-content-center border-top border-secondary border-3 text-secondary" style="max-height: 27px">

			<span class="fa-stack">
				<i class="fas fa-fw fa-bolt" style="--fa-animation-duration: .5s" ng-class="{'fa-beat-fade text-light' : HeadlightFlash}"></i>
			</span>

			<span class="fa-stack">
				<i ng-if="ir.EnergyERSBatteryPct == 0" class="fad fa-fw fa-battery-empty batteryPercentage text-secondary m-1" style="--fa-secondary-opacity: 1.0"></i>
				<i ng-if="ir.EnergyERSBatteryPct > 0 && ir.EnergyERSBatteryPct < .25" class="fad fa-fw fa-battery-quarter batteryPercentage m-1" style="--fa-primary-color: orange; --fa-secondary-opacity: 1.0"></i>
				<i ng-if="ir.EnergyERSBatteryPct > .25 && ir.EnergyERSBatteryPct < .5" class="fad fa-fw fa-battery-half batteryPercentage m-1" style="--fa-primary-color: yellow; --fa-secondary-opacity: 1.0"></i>
				<i ng-if="ir.EnergyERSBatteryPct > .5 && ir.EnergyERSBatteryPct < .75" class="fad fa-fw fa-battery-three-quarters batteryPercentage m-1" style="--fa-primary-color: limegreen; --fa-secondary-opacity: 1.0"></i>
				<i ng-if="ir.EnergyERSBatteryPct > .75" class="fad fa-fw fa-battery-full batteryPercentage m-1" style="--fa-primary-color: limegreen; --fa-secondary-opacity: 1.0"></i>
			</span>

			<span class="fa-stack">
				<i class="fad fa-stack-1x fa-fw" style="--fa-secondary-opacity: 1.0" ng-class="{'fa-rocket-launch rocket' : HysBoostHold}"></i>
				<i class="fas fa-stack-1x fa-fw fa-rocket" ng-class="{'text-white' : HysBoostHold}"></i>
			</span>

		</div>

		<div class="col col-sm-5 border-bottom border-secondary border-end border-3 p-0" style="transform: rotate(180deg);">

			<div class="batteryBar" ng-style="{ 'width': ir.EnergyMGU_KLapDeployPct * 205.3 + 'px'}" ng-class="{'rounded-end' : ir.EnergyMGU_KLapDeployPct < .99999, 'progress-bar-striped progress-bar-animated' : HysBoostHold, 'bg-primary' : ir.EnergyMGU_KLapDeployPct <= .75, 'bg-warning' : ir.EnergyMGU_KLapDeployPct >= .75 && ir.EnergyMGU_KLapDeployPct <= 1, 'bg-danger' : ir.EnergyMGU_KLapDeployPct == 1}"></div>

			<div class="row" style="transform: rotate(-180deg);">
				<div class="col col-sm-6">
					<span class="batteryPercentage ps-2" ng-bind="ir.EnergyMGU_KLapDeployPct * 100 | number:2" ></span>
					<i class="fa-solid fa-percent fa-xs fa-fw"></i>
				</div>
				<div class="col col-sm-6 text-end">
					<i class="fas fa-caret-left batteryPercentage pe-2"></i>
				</div>
			</div>

		</div>
	</div>

	<div class="row" style="min-height: 51px;">
		<div class="col-sm-5 border-top border-secondary border-end border-3">
			<div class="row">
				<div class="col-sm-4">
					<span class="position" ng-if="ir.PlayerCarPosition > 0" ng-bind=" 'P' + ir.PlayerCarPosition" ></span>
					<span class="position" ng-if="ir.PlayerCarPosition == 0" >P-</span>
				</div>
				<div class="col-sm-3 align-self-center">
					<span class="deltaText text-secondary" ng-if="ir.WeekendInfo">Best</span>
				</div>
				<div class="col-sm-5 text-end">
					<span class="delta" ng-if="ir.LapDeltaToSessionBestLap == 0">--,--</span>

					<span class="delta text-success" ng-if="ir.LapDeltaToSessionBestLap < 0" ng-bind="ir.LapDeltaToSessionBestLap | number:2 | plusOrMinus"></span>
					<span class="delta text-danger" ng-if="ir.LapDeltaToSessionBestLap > 0" ng-bind="ir.LapDeltaToSessionBestLap | number:2 | plusOrMinus"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4 align-self-center">
					<span class="smallPosition" ng-style="{color: driverCarClassColor}" ng-if="ir.PlayerCarClassPosition > 0" ng-bind=" 'P' + ir.PlayerCarClassPosition" ></span>
					<span class="smallPosition" ng-if="ir.PlayerCarClassPosition == 0" >P-</span>
				</div>
				<div class="col-sm-3 align-self-center">
					<span class="deltaText text-secondary" ng-if="ir.WeekendInfo">Last</span>
				</div>
				<div class="col-sm-5 text-end">
					<span class="delta" ng-if="ir.LapDeltaToSessionLastlLap == 0 && ir.LapDeltaToSessionOptimalLap == 0">--,--</span>

					<span class="delta text-success " ng-if="ir.LapDeltaToSessionLastlLap == 0 && ir.LapDeltaToSessionOptimalLap < 0" ng-bind="ir.LapDeltaToSessionOptimalLap | number:2 | plusOrMinus"></span>
					<span class="delta text-danger" ng-if="ir.LapDeltaToSessionLastlLap == 0 && ir.LapDeltaToSessionOptimalLap > 0" ng-bind="ir.LapDeltaToSessionOptimalLap | number:2 | plusOrMinus"></span>

					<span class="delta text-success" ng-if="ir.LapDeltaToSessionLastlLap < 0" ng-bind="ir.LapDeltaToSessionLastlLap | number:2 | plusOrMinus"></span>
					<span class="delta text-danger" ng-if="ir.LapDeltaToSessionLastlLap > 0" ng-bind="ir.LapDeltaToSessionLastlLap | number:2 | plusOrMinus"></span>
				</div>
			</div>

		</div>

		<div class="col-sm-2 border-top border-secondary border-3" ng-class="{'border-top border-secondary border-3' : ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath !== 'audir18' && ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath !== 'porsche919' && ir.DriverInfo.Drivers[ir.DriverInfo.DriverCarIdx].CarPath !== 'test'}">
			<div class="row">
				<div class="col-sm-12 d-flex align-items-center justify-content-center">
					<span class="speed" ng-bind="ir.Speed * 3.6 | number:0 "></span>
				</div>
				<div class="col-sm-12 d-flex align-items-center justify-content-center">

				</div>
			</div>
		</div>

		<div class="col-sm-5 border-start border-top border-secondary border-3">
			<div class="row">
				<div class="col-sm-7">
					<span ng-if="ir.LapBestLapTime > 10" class="lapTime bestTime" ng-bind="ir.LapBestLapTime | toMinSec"></span>
				</div>
				<div class="col-sm-5 text-end align-self-center" ng-if="ir.AirTemp">
					<i class="fad fa-sm fa-fw" style="--fa-secondary-opacity: 1" ng-class="{'fa-thermometer-empty' : ir.AirTemp < 20, 'fa-thermometer-half' : ir.AirTemp > 20 && ir.AirTemp < 40, 'fa-thermometer-full' : ir.AirTemp > 40}"></i>
					<span class="weather" ng-bind="ir.AirTemp | number:1"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<span ng-if="ir.LapLastLapTime > 10" class="lastLap" ng-bind="ir.LapLastLapTime | toMinSec"></span>
				</div>
				<div class="col-sm-5 text-end align-self-center" ng-if="ir.TrackTemp">
					<i class="fas fa-sm fa-road fa-fw"></i>
					<span class="weather" ng-bind="ir.TrackTemp | number:1"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="min-height: 54px;">
		<div class="col-sm-5 border-top border-secondary border-bottom border-end border-3">
			<div class="row">
				<div ng-if="ir.WeekendInfo" class="col-sm-4 align-self-center">
					<i ng-if="ir.dcPitSpeedLimiterToggle || ir.OnPitRoad" style="--fa-animation-duration: 0.5s;" class="fas fa-fw text-secondary fa-sm fa-gauge-simple-low" ng-class="{'fa-beat-fade text-warning' : ir.dcPitSpeedLimiterToggle}"></i>
					<span class="currentLapTime text-secondary" ng-if="ir.dcPitSpeedLimiterToggle || ir.OnPitRoad" ng-class="{'text-warning' : ir.dcPitSpeedLimiterToggle}">PIT</span>
				</div>

				<div class="col-sm-8 text-end currentLapTime" >
					<span ng-if="ir.LapCurrentLapTime > 0" ng-bind="ir.LapCurrentLapTime | toMinSec2"></span>
					<span ng-if="ir.WeekendInfo && !ir.LapCurrentLapTime">00:00.000</span>
				</div>

				<div class="col-sm-12" style="max-height: 24px">
					<div class="row d-flex justify-content-evenly align-items-center" style="height: 24px">
						<div ng-repeat="sector in sectors | limitTo: 16" style="background-color: #6c757d; font-size: 12px; line-height: 12px" class="col-sm-1 flex-fill text-center rounded ms-1 me-1 ps-0 pe-0" ng-class="{'bg-success' : sector.SectorDelta < 0, 'bg-warning' : sector.SectorDelta > 0 && sector.SectorDelta < 1, 'bg-danger' : sector.SectorDelta > 1}">
							<span ng-bind="'S' + (sector.SectorNum + 1)"></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-2 border-secondary border-bottom border-3">
			<div class="row">
				<div class="d-flex align-items-center justify-content-center">
					<span class="gear" ng-if="ir.Gear == -1">R</span>
					<span class="gear" ng-if="ir.Gear == 0">N</span>
					<span class="gear" ng-bind="ir.Gear" ng-if="ir.Gear > 0"></span>
				</div>
			</div>
			<div class="row">
				<div class="d-flex align-items-center justify-content-center">
					<span class="RPM" ng-if="ir.WeekendInfo" ng-bind="ir.RPM | customNumber"></span>
				</div>
			</div>
		</div>

		<div class="col-sm-5 border-top border-secondary border-bottom border-start border-3 car-settings">
			<div class="row">
				<div class="col-sm-4">
					<span ng-if="ir.dcBrakeBias > 0" class="text-secondary">BB:</span>
					<span ng-if="ir.dcBrakeBias > 0" class="text-danger" ng-bind="ir.dcBrakeBias | number:1"></span>
				</div>
				<div class="col-sm-4 text-center">
					<span ng-if="ir.dcTractionControl > 0" class="text-secondary">TC:</span>
					<span ng-if="ir.dcTractionControl > 0" class="text-primary" ng-bind="ir.dcTractionControl"></span>
				</div>
				<div class="col-sm-4 text-center">
					<span ng-if="ir.dcTractionControl2 > 0" class="text-secondary">TC2:</span>
					<span ng-if="ir.dcTractionControl2 > 0" class="text-primary" ng-bind="ir.dcTractionControl2"></span>
				</div>
				<!--				<div class="col-sm-4 text-end">-->
				<!--					<span ng-if="ir.dcTractionControl3 > 0" class="text-secondary">FTC:</span>-->
				<!--					<span ng-if="ir.dcTractionControl3 > 0" class="text-success" ng-bind="ir.dcTractionControl3 | number:2"></span>-->

				<!--					<span ng-if="ir.dcThrottleShape > 0" class="text-secondary">TS</span>-->
				<!--					<span ng-if="ir.dcThrottleShape > 0" class="text-success" ng-bind="ir.dcThrottleShape"></span>-->
				<!--				</div>-->
			</div>
			<div class="row">
				<div class="col-sm-4" ng-if="ir.dcABS > 0">
					<span ng-if="ir.dcABS > 0" class="text-secondary">ABS:</span>
					<span ng-if="ir.dcABS > 0" class="text-danger" ng-bind="ir.dcABS"></span>
				</div>
				<div class="col-sm-4" ng-if="ir.dcMGUKDeployMode >= 0">
					<span ng-if="ir.dcMGUKDeployMode >= 0" class="text-secondary">MGU-K:</span>
					<span ng-if="ir.dcMGUKDeployMode == 0" class="text-warning">No Deploy</span>
					<span ng-if="ir.dcMGUKDeployMode == 1" class="text-warning">Qualy</span>
					<span ng-if="ir.dcMGUKDeployMode == 3" class="text-warning">Balanced</span>
					<span ng-if="ir.dcMGUKDeployMode == 2" class="text-warning">Attack</span>
					<span ng-if="ir.dcMGUKDeployMode == 4" class="text-warning">Build</span>
				</div>
				<!--				<div class="col-sm-4" ng-if="ClutchRaw > 0.01">-->
				<!--					<span ng-if="ClutchRaw > 0.01" class="text-secondary">Clutch:</span>-->
				<!--					<span ng-if="ClutchRaw > 0.01" class="text-primary" ng-bind="ClutchRaw * 100 | number:0">%</span>-->
				<!--				</div>-->

				<div class="col-sm-4" id="axes" class="text-primary" style="display: flex; flex-direction: column;"></div>

				<div class="col-sm-4 text-end">
					<span ng-if="ir.dcTractionControl4 > 0" class="text-secondary">RTC:</span>
					<span ng-if="ir.dcTractionControl4 > 0" class="text-success" ng-bind="ir.dcTractionControl4 | number:2"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="min-height: 22px;">
		<div class="col-sm-5 border-end border-3" style="border-color: transparent !important;">
			<div class="row bottomRowText" ng-if="ir.WeekendInfo">
				<div class="col-sm-6">
					<span class="text-secondary">Lap:</span>
					<span ng-if="ir.SessionLapsRemainEx > 1000 || ir.SessionLapsRemainEx == 'unlimited'" ng-bind="ir.Lap"></span>
					<span ng-if="ir.SessionLapsRemainEx < 1000 && ir.SessionLapsRemainEx != 'unlimited'" ng-bind="ir.Lap + '/' + SessionLaps"></span>
				</div>

				<div class="col-sm-6 text-end">
					<span class="text-secondary">Pit lap:</span>
					<span ng-if="lastPitStop > 0" ng-bind="lastPitStop"></span>
					<span ng-if="!lastPitStop || lastPitStop == 0 || lastPitStop == 'undefined'">-</span>
				</div>
			</div>
		</div>

		<div class="col-sm-2 text-center">
			<div class="row bottomRowText" ng-if="ir.WeekendInfo">
				<span ng-if="ir.SessionTimeRemain < 600000" ng-bind="ir.SessionTimeRemain | secondsToDateTime"></span>
				<span ng-if="ir.SessionTimeRemain > 600000">--,--</span>
			</div>
		</div>

		<div class="col-sm-5 border-start border-3" style="border-color: transparent !important;">
			<div class="row bottomRowText" ng-if="ir.WeekendInfo">
				<div class="col-sm-5">
					<span class="text-secondary">Inc:</span>
					<span ng-if="ir.WeekendInfo.WeekendOptions.IncidentLimit == 'unlimited'" ng-bind="ir.PlayerCarTeamIncidentCount + 'x'"></span>
					<span ng-if="ir.WeekendInfo.WeekendOptions.IncidentLimit != 'unlimited'" ng-class="{'text-warning' : incYellow, 'text-danger' : incRed}" ng-bind="ir.PlayerCarTeamIncidentCount + '/' + ir.WeekendInfo.WeekendOptions.IncidentLimit + 'x'"></span>
				</div>
				<div class="col-sm-7 text-end">
					<span class="text-secondary">Fuel:</span>
					<span class="text-light" ng-if="ir.FuelLevel > 10" ng-bind="(ir.FuelLevel | number:2) + ' L'"></span>
					<span class="text-warning" ng-if="ir.FuelLevel > 5 && ir.FuelLevel <= 10" ng-bind="(ir.FuelLevel | number:2) + ' L'"></span>
					<span class="text-danger" ng-if="ir.FuelLevel > 2 && ir.FuelLevel <= 5" ng-bind="(ir.FuelLevel | number:2) + ' L'"></span>
					<span class="text-danger pitLimiterFuel" ng-if="ir.FuelLevel > 0 && ir.FuelLevel <= 2" ng-bind="(ir.FuelLevel | number:2) + ' L'"></span>
				</div>
			</div>
		</div>
	</div>

</div>

<script>
	window.addEventListener('gamepadconnected', (event) => {
		const update = () => {
			const output = document.getElementById('axes');

			const axis = event.gamepad.axes[2] * 0.5 + 0.5;
			const axis2 = axis.toFixed(2)

			output.innerHTML = ''; // clear the output
			output.insertAdjacentHTML('beforeend',
					`
						<span class="text-secondary">Clutch:</span>
						<span>${axis2 * 100}</span>
					`);
			requestAnimationFrame(update);
		};
		update();
	});
</script>

</body>

<script src="js/app.js"></script>
<script src="../renderer.js"></script>

</html>
